* text=auto

*.map   binary
*.min.* binary

README.md      export-ignore
readme.txt     export-ignore
composer.json  export-ignore
composer.lock  export-ignore

/assets/dev/     export-ignore
/assets/css-dev/ export-ignore
/assets/js-dev/  export-ignore
/assets/img-dev/ export-ignore

/vendor/aristath/kirki/.codeclimate.yml     export-ignore
/vendor/aristath/kirki/.coveralls.yml       export-ignore
/vendor/aristath/kirki/.csslintrc           export-ignore
/vendor/aristath/kirki/.editorconfig        export-ignore
/vendor/aristath/kirki/.eslintrc.json       export-ignore
/vendor/aristath/kirki/.gitignore           export-ignore
/vendor/aristath/kirki/.jhintrc             export-ignore
/vendor/aristath/kirki/.jscsrc              export-ignore
/vendor/aristath/kirki/.jshintignore        export-ignore
/vendor/aristath/kirki/.jshintrc            export-ignore
/vendor/aristath/kirki/.simplecov           export-ignore
/vendor/aristath/kirki/.travis.yml          export-ignore
/vendor/aristath/kirki/docs/                export-ignore
/vendor/aristath/kirki/tests/               export-ignore
/vendor/aristath/kirki/build.sh             export-ignore
/vendor/aristath/kirki/CODE_OF_CONDUCT.md   export-ignore
/vendor/aristath/kirki/composer.json        export-ignore
/vendor/aristath/kirki/example.php          export-ignore
/vendor/aristath/kirki/Gruntfile.js         export-ignore
/vendor/aristath/kirki/package.json         export-ignore
/vendor/aristath/kirki/phpcs.ruleset.xml    export-ignore
/vendor/aristath/kirki/phpunit.xml          export-ignore
/vendor/aristath/kirki/phpunit.xml.dist     export-ignore
/vendor/aristath/kirki/README.md            export-ignore
/vendor/aristath/kirki/readme.txt           export-ignore