* text=auto

*.map   binary
*.min.* binary

README.md      export-ignore
readme.txt     export-ignore
composer.json  export-ignore
composer.lock  export-ignore

/assets/dev/     export-ignore
/assets/css-dev/ export-ignore
/assets/js-dev/  export-ignore
/assets/img-dev/ export-ignore