body {
	grid-column-gap: 50px;
	grid-template-rows: 100px 1fr;
}

.site-main {

	.inside-article,
	.comments-area {
		background-color: transparent;
	}

	.page-header-image-single {
		max-width: 400px;
		margin: 0 auto;
	}

	.comment-content {
		background-color: #fff;
	}

	h1 {
		font-size: 2.3em;
		font-weight: 700;
		line-height: 1.15;
		color: #037b8c;
	}

	h2 {
		font-size: 2.2em;
		font-weight: 400;
		line-height: 1.2;
		color: #037b8c;
	}

	h3 {
		font-size: 1.8em;
		font-weight: 700;
		line-height: 1.25;
		color: #00011f;
	}

	h4 {
		font-size: 1.8em;
		font-weight: 400;
		line-height: 1.25;
		color: #037b8c;
	}

	h5 {
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.3;
		color: #00011f;
	}

	h6 {
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.3;
		color: #00011f;
	}

	a,
	a:visited,
	a:hover {
		color: #037b8c;
	}

	a:hover {
		text-decoration: underline;
	}

	hr {
		background-color: var(--contentHrColor);
	}

	img.alignleft {
		margin: 0.7em 1em 1em 0;
	}

	img.alignright {
		margin: 0.7em 0 1em 1em;
	}

	ul li {
		list-style-type: none;

		&::before {
			content: "\2022";
			padding-right: 0.4em;
			color: var(--listPrimaryColor);
			font-size: 1.3em;
		}
	}

	ol {
		list-style: none;
		counter-reset: item;

		li {
			counter-increment: item;
			position: relative;

			&::before {
				content: counter(item) ".";
				padding-right: 0.4em;
				font-size: inherit;
				font-weight: 700;
				color: var(--listPrimaryColor);
			}
		}
	}

	ul li li::before {
		color: var(--listSecondaryColor);
	}

	ol li li::before {
		font-weight: 400;
		color: var(--listSecondaryColor);
	}

	table {

		thead {
			background-color: var(--theadBgColor);
			color: var(--theadTextColor);
		}

		tbody {

			tr {

				&:nth-child(odd) {
					background-color: var(--oddRowBgColor);
				}

				&:nth-child(even) {
					background-color: var(--evenRowBgColor);
				}
			}

			td {
				color: var(--rowTextColor);
			}
		}

		tfoot {
			background-color: var(--footRowBgColor);
			color: var(--footRowTextColor);
		}
	}

}
