// Simple Calendar - START
table.simcal-calendar-grid {
	border: 0;

	thead.simcal-calendar-head {

		th {
			border: 0;

			&.simcal-current {
				color: var(--listPrimaryColor) !important;
			}

			&.simcal-week-day {
				color: var(--listPrimaryColor) !important;
				font-weight: 400 !important;
			}
		}

		tr:first-child th {
			border-bottom: 1px solid var(--listPrimaryColor);
		}
	}

	tbody.simcal-month {

		td {
			border: 0;
			border-left: 1px solid var(--listPrimaryColor);

			&:first-child {
				border-left: 0;
			}
		}

		.simcal-day-label.simcal-day-number {
			background-color: transparent !important;
			color: var(--listPrimaryColor) !important;
			font-weight: 700;
		}

		.simcal-day:hover:not(.simcal-day-void) {
			background-color: var(--listSecondaryColor);
		}

		.simcal-day-void {
			background-color: transparent;
		}

		.simcal-today {
			background-color: var(--listSecondaryColor);

			> div {
				border: 0 !important;
			}
		}

		.simcal-events-dots {

			b {
				color: var(--listPrimaryColor) !important;
			}
		}

	}

}

.simcal-calendar-list-compact {

	.simcal-calendar-head h3 {
		color: var(--listPrimaryColor);
		font-weight: 700;
	}
}

// Simple Calendar - END
